@model ParkDetailVM
@{
    ViewData["Title"] = "Detail";
}

<br />
<img src="~/images/parks/@(Model.Park.ParkCode).jpg" alt="park detail image" />
<h2>@Model.Park.ParkName</h2>
<p>@Model.Park.InspirationalQuote - <em>@Model.Park.InspirationalQuoteSource</em></p>

@*Table of all of the Park details*@
<table class="table table-condensed" id="park-info-table">
    <tr>
        <th class="table-header">State</th>
        <td class="info-row">@Model.Park.State</td>
    </tr>
    <tr>
        <th class="table-header">Acreage</th>
        <td class="info-row">@Model.Park.Acreage</td>
    </tr>
    <tr>
        <th class="table-header">Elevation</th>
        <td class="info-row">@Model.Park.ElevationInFeet</td>
    </tr>
    <tr>
        <th class="table-header">Trails</th>
        <td class="info-row">@Model.Park.MilesOfTrail</td>
    </tr>
    <tr>
        <th class="table-header">Campsites</th>
        <td class="info-row">@Model.Park.NumberOfCampsites</td>
    </tr>
    <tr>
        <th class="table-header">Climate</th>
        <td class="info-row">@Model.Park.Climate</td>
    </tr>
    <tr>
        <th class="table-header">Year Founded</th>
        <td class="info-row">@Model.Park.YearFounded</td>
    </tr>
    <tr>
        <th class="table-header">Annual Visitor Count</th>
        <td class="info-row">@Model.Park.AnnualVisitorCount</td>
    </tr>
    <tr>
        <th class="table-header">Number Of Animal Species</th>
        <td class="info-row">@Model.Park.NumberOfAnimalSpecies</td>
    </tr>
    <tr>
        <th class="table-header">Entry Fee</th>
        <td class="info-row">@Model.Park.EntryFee</td>
    </tr>
</table>

<p>@Model.Park.ParkDescription</p>
<form asp-controller="Home" asp-action="Detail" method="post">
    @* Weather Forecast *@
    <div class="btn-group" data-toggle="buttons">
        <label class="btn btn-primary active">
            <input type="radio" name="unit" value="F" checked>°F
        </label>
        <label class="btn btn-primary">
            <input type="radio" name="unit" value="C">°C
        </label>
        <input type="submit" value="Change" class="btn btn-warning" />
    </div>
</form>

@foreach (WeatherForecast weather in @Model.FiveDayWeather)
{
    if (weather.FiveDayForecastValue == 1)
    {
        <h4>Today</h4>
    }
    <div class="Weather">
        <img src="~/images/weather/@(weather.ImageName).png" />
        <p>High: @weather.High</p>
        <p>Low: @weather.Low</p>
        @if (weather.TemperatureRecommendation != null)
        {
            <p>@weather.TemperatureRecommendation</p>
        }
        @if (weather.WeatherRecommendation != null)
        {
            <div class="weatherRec"> <p>@weather.WeatherRecommendation</p></div>
        }
    </div>
}



